#renee-menu {
  text-align: center;
  left: auto;
  right: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 3vh;

  a {
    display: inline-block;
    padding: 5px 2vmin;

    &.active {
      text-decoration: underline;
    }
  }
}
