{% extends "html/layout.njk" %}

{% block body %}
<div id="imprint" class="rich-text">
  <img class="logo" alt="B Train logo" src="img/logo_btrain.jpg" />
  <h1>Impressum</h1>
  {{ homepage.imprint | safe }}
</div>

{% endblock %}
